<script>
    function enableEditing{{id}}() { $("#todo-{{id}}").classList.add("editing"); }
</script>
<li id="todo-{{id}}" {{#completed}}class="completed"{{/completed}}>
    <div class="view">
        <input 
            class="toggle" 
            type="checkbox" 
            hx-trigger="change"
            hx-vals='js:{completed: this.checked}' 
            hx-patch="/todos/{{id}}" 
            hx-target="#todo-{{id}}" 
            hx-swap="outerHTML" 
            {{#completed}}checked{{/completed}}>
        <label onClick="enableEditing{{id}}()">{{text}}</label>
        <button class="destroy" hx-delete="/todos/{{id}}" hx-target="#todo-{{id}}" hx-swap="outerHTML"></button>
    </div>
    <input class="edit" value="{{text}}" 
        hx-trigger="focusout, keydown[key=='Enter']"
        hx-vals='js:{text: this.value}'
        hx-patch="/todos/{{id}}" 
        hx-target="#todo-{{id}}" 
        hx-swap="outerHTML">
</li>