<!DOCTYPE html>
<html>
<head>
    <title>Cuprite App</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/preload.js"></script>
    <script>
        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);
        const w = document.write.bind(document);
    </script>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    {{{yield}}}
</body>
</html>